[user]
    name = Iago Alonso
    email = deejaynof@gmail.com
    signingkey = FE7EF85DA8A04AF5
[core]
    editor = subl -w
[commit]
    gpgsign = true
[diff]
    wsErrorHighlight = all
[feature]
    manyFiles = 1
