[user]
    email = deejaynof@gmail.com
    name = Iago Alonso
    signingkey = FE7EF85DA8A04AF5
[core]
    editor = subl -w
[commit]
    gpgsign = true
[diff]
    wsErrorHighlight = all
[credential]
    helper = manager-core
