[Desktop Entry]
Type=Application
Exec=fix_volume
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=fix-volume
Name=fix-volume
Comment[en_US]=Fix low volume in IEC958 profile (Corsair HS60)
Comment=Fix low volume in IEC958 profile (Corsair HS60)
