[Desktop Entry]
Type=Application
Exec=imwheel --kill --buttons "4 5"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=imwheel
Name=Scroll Wheel Speed Fix
Comment[en_US]=Scroll Wheel Speed Fix
Comment=Scroll Wheel Speed Fix
