[Desktop Entry]
Type=Application
Exec=imwheel --kill --buttons "4 5"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Scrollwheel Fix
Name=Scrollwheel Fix
Comment[en_US]=Set number of lines scrolled to 2
Comment=Set number of lines scrolled to 2
