[Desktop Entry]
Type=Application
Exec=watchdog
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Watchdog
Name=Watchdog
Comment[en_US]=Custom monitoring script (htop & nethogs)
Comment=Custom monitoring script (htop & nethogs)
